/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans');

/*---------- main page ----------*/
#body {
  background-image: url("images/naturalwhite.png");
}

#header {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

#openblog {
display: block;
margin: 0px auto;
padding: 10px 60px 10px 60px;
text-decoration: none;
}

#openblog:hover {
  text-decoration: none;
}


/*---------- show ----------*/
#title {
  text-transform: uppercase;
  font-weight: bold;
}

#content {
  padding-top: : 20PX;
  padding-bottom: 20px;
}
